:root {
  background-color: #fff;
}

* {
  box-sizing: border-box;x
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

header {
  
}

.flex-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 1em;
  width: 100%;
}

